= image_tag "rails.png"
	
%h2.name 
	Roonie Wadia

%h3.prof_title 
	Film student, London Film School

%h4.about_me_liner
	"I love the movies!"
	
.current_movie_mood
	.label
		%p Current Movie mood:
	.desc
		%p "Eric Rohmer movies, very interesting french movies by him."
		
.about_me
	.label
		%p So tell us a little bit about yourself.
	.desc
		%p "I have been an avid movie lover since my teens. And now I have decided to learn the art of film making. I hope to make good movies and be a great director one day."
		
.movie_start
	.label
		%p So how did your fascination with movies start.
	.desc
		%p "I can't say for sure. I just know that I developed a deep appreciation for the art of movie making."
		
		
.fav_genre
	.label
		%p What are some of you favourite genres.
	.desc
		%p "I have an affinity for drama, any kind of drama and a good story. Not a fan of horror. And who doesn't love a good comedy, romantic or not. Other than that I am a huge sci-fi fan."
