= image_tag "rails.png"
	
%h2.name 
	Roonie Wadia

%h3.prof_title 
	Film student, London Film School

%h4.about_me_liner
	"I love the movies!"
	
.level
	.label
		%p Level:
	.desc
		%p Newbie 

.reputation
	.label
		%p Reputation:
	.desc
		%p 100

		
.level
	.label
		%p Age:
	.desc
		%p 22 

.reputation
	.label
		%p Location:
	.desc
		%p London

.stats
	.profile_views
		.label
			%p Profile Views:
		.desc
			10
	.last_login
		.label
			%p Seen:
		.desc
			12 hours ago
	.member_since
		.label
			%p Member since:
		.desc
			1 year, 10 months
			

		
.movie_persona
	.label
		%p Movie Persona:
	.desc
		%p Drama lover, Sci-fi geek, Romantic fool 
	
.current_movie_mood
	.label
		%p Current Movie mood:
	.desc
		%p "Eric Rohmer movies, very interesting french movies by him."
		
.about_me
	.label
		%p So tell us a little bit about yourself.
	.desc
		%p "I have been an avid movie lover since my teens. And now I have decided to learn the art of film making. I hope to make good movies and be a great director one day."
		
.about_movies
	.label
		%p What is it about the movies that you love so much?
	.desc
		%p "That they draw you into this another world, that time flies away, and that ultimately, they move you. Is it why it's called a movie, I wonder."
			
.movie_start
	.label
		%p So how did your fascination with movies start.
	.desc
		%p "I can't say for sure. I just know that I developed a deep appreciation for the art of movie making."
		
		
.fav_genre
	.label
		%p What are some of you favourite genres.
	.desc
		%p "I have an affinity for drama, any kind of drama and a good story. Not a fan of horror. And who doesn't love a good comedy, romantic or not. Other than that I am a huge sci-fi fan."
		

.contact_details
	.facebook
		%p Facebook: 
		= link_to "http://www.facebook.com/ronnie.wadia"
	.twitter
		%p Twitter: 
		= link_to "http://www.facebook.com/ronnie.wadia"
	.website
		%p Website: 
		= link_to "http://www.facebook.com/ronnie.wadia"

