@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  margin-top: 15px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.container {
	text-align: left;
}

/* typography */

h1 {
  letter-spacing: -2px;
  
  &.name {
  	margin-bottom: 2px;
  }
  
}


h2 {

	&.prof_title{
		font-size: 18px;
		font-weight: normal;
		line-height: 24px;
		color: #777;
		
	}
}

p {
	&.about_me_liner{
		color: #777;
		word-wrap: break-word;
		font-family: Georgia, 'Times New Roman', serif;
		font-size: 13px;
		font-style: italic;
		font-variant: normal;
		font-weight: normal;
		line-height: 18px;
	}

}


.movie_mood_quote {
		font-style: italic;
		color: #777;
}

/*
p {
  font-size: 1.1em;
  line-height: 1.7em;
}
*/


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.question {
	font-weight: bold;
	p {
	  font-size: 120%;
	  color: #444;
	  font-family: "myriad-pro-1", "myriad-pro-2", "Myriad Pro", Verdana, "Lucida Grande", "Helvetica Neue", Helvetica, sans-serif;
	}
}

.textlabel {
	font-weight: bold;
}

.data{
	
	table {
		margin-top: 15px;
	}
	td {
		padding: 3px 20px 3px 0;
	}	
	th {
		padding: 3px 20px 3px 0;
	}
}

/* Stats table */
ul.stats-tabs {
	margin-bottom: 50px;
}

ul.stats-tabs li {
	float: left;
	margin: 0 10px 0 0;
	padding: 0 10px 0 0;
	border-right: 1px solid #ccc;
	}
ul.stats-tabs li:last-child {
	margin: 0;
	padding: 0;
	border: none;
	}
ul.stats-tabs li a {	
	display: block;
	float: left;
	font-size: 18px;
	font-weight: bold;
	}
ul.stats-tabs li a span {
	display: block;
	margin-top: 2px;
	font-size: 13px;
	font-weight: normal;
	}
	
#top.row {
	margin-bottom: 20px;
}	

li .title {
  p {
    font-size: medium;
    font-style: italic;
    font-weight: bold;
    text-align: center;
  }
}  


.thumbnail {
  img {
    margin-bottom: 10px;
  }
}

ul.thumbnails {
  margin-top: 10px;
  margin-bottom: 0px;
}

.recommendation,
.goal,
.taste  {
  margin-top: 20px;
  border-bottom: 1px solid #BBB;
  padding-bottom: 10px;
}

.nav-tabs {
  border-bottom: 1px solid #666;
  font-weight: bold;
  color: black;
}

.nav-tabs a {
  color: #777;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  border: 1px solid #777;
  border-bottom-color: transparent;
  color: black;
  font-size: 110%;
}

.header {
  border-bottom: 1px solid #EEE;
  margin-bottom: 18px;
}

.desc p {
  font-size: 120%;
  font-style: italic;
  color: #444;
}

.comments {
  color: #444;
}

.answer blockquote {
  padding-right: 0.75em;
  padding-left: 0.75em;
  text-indent: -0.9em;
  font-family: "myriad-pro-1", "myriad-pro-2", "Myriad Pro", Verdana, "Lucida Grande", "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
  font-size: 1.1em;
  line-height: 1.5em;
}

.answer blockquote span.highlight {
  color: #C24D9B;
  font-family: Palatino, 'Book Antiqua', 'Hoefler Text', Georgia, serif;
  font-size: 1.2em;
  margin-right: 3px;
  margin-left: 3px;
}
